/NB.Repository/obj/Debug/net8.0
/.vs/NutriBarn/CopilotIndices/
/.vs/NutriBarn/FileContentIndex
/NB.API/obj/Debug/net8.0
/NB.API/obj
/NB.Model/obj/Debug/net8.0
/NB.Model/obj
/NB.Repository/obj
/NB.Services/obj/Debug/net8.0
/NB.Services/obj
